numpy
fastapi
clean-dotenv
camelot-py
tabula-py
fitz-utils
faiss-cpu==1.10.0
transformers
ollama
openai
langchain
langchain-core
langchain-ollama
langchain-openai
langchain-huggingface
langchain-community